<div id="post-comments"
    class="post-comments js-comments u-hide u-bgColorGrayLight u-paddingTop30 u-paddingBottom30 u-contentTitle">
    <div class="u-container u-maxWidth1000 u-card">
        {{!-- Joint Comments --}}
        <script>
            var jv_comments_config = {
                "website_id": "344",
                "position": "right",
                "is_open": "false",
                "theme": {
                    "mainColor": "#1E3757",
                    "textColor": "#ffffff"
                }
            };

            (function () {
                var d = document, s = d.createElement("script");
                s.src = "https://widget.jointcomments.com/e/embed.prod.js";
                if (/MSIE|Trident/.test(window.navigator.userAgent)) {
                    s.src = "https://widget.jointcomments.com/e/embed.prodIE.js";
                }
                (d.head || d.body).appendChild(s);
            })();
        </script>

    </div>
</div>

{{#contentFor "scripts"}}
{{/contentFor}}