<div id="post-comments"
    class="post-comments js-comments u-hide u-bgColorGrayLight u-paddingTop30 u-paddingBottom30 u-contentTitle">
    <div class="u-container u-maxWidth1000 u-card">
        {{!-- Discourse Comments --}}
        <div id='discourse-comments'></div>

    </div>
</div>

{{#contentFor "scripts"}}
<script type="text/javascript">
    DiscourseEmbed = {
        discourseUrl: 'https://forum.forgenst.com/',
        discourseEmbedUrl: '{{url absolute="true"}}'
    };

    (function () {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
</script>
{{/contentFor}}